<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--    NOT USED FOR CONFIGURATION ANYMORE-->

    <settings>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="true"/> <!-- default: false -->
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="autoMappingUnknownColumnBehavior" value="NONE"/>
        <setting name="mapUnderscoreToCamelCase" value="false"/>
        <setting name="returnInstanceForEmptyRow" value="false"/>
<!--        <setting name="logImpl" value="SLF4J | LOG4J | LOG4J2 | JDK_LOGGING | COMMONS_LOGGING | STDOUT_LOGGING | NO_LOGGING"/>-->
    </settings>

    <typeAliases>
        <typeAlias alias="Student" type="com.example.project.model.Student"/>
        <typeAlias alias="Grade" type="com.example.project.model.Grade"/>
        <typeAlias alias="Exam" type="com.example.project.model.Exam"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/test_project"/>
                <property name="username" value="root"/>
                <property name="password" value="Password123"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- Using classpath relative resources -->
        <mapper resource="StudentMapper.xml"/>

        <!-- Using mapper interface classes -->
<!--        <mapper class="com.example.project.mapper.interfaces.ExampleMapper"/>-->
    </mappers>

</configuration>